@model SchoolMS.Models.CompanyInfoViewModel.CompanyInfoCRUDViewModel
@{
    ViewData["Title"] = "Organization Info";
}

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div style="display: inline-block;">
                <h3 class="pull-right"><b>Organization Info</b></h3>
            </div>
        </div>
        <div class="panel-body scroll panel-height">
            <form asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.Logo" />
                <input type="hidden" asp-for="@Model.CreatedDate" />
                <input type="hidden" asp-for="@Model.CreatedBy" />
                <table class="CustomBlueTable">
                    <tr>
                        <th>Name</th>
                        <td>
                            <input asp-for="Name" class="form-control" autofocus />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Logo</th>
                        <td>
                            <input type="file" asp-for="CompanyLogo" />
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice No Prefix</th>
                        <td>
                            <input asp-for="InvoiceNoPrefix" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Quote No Prefix</th>
                        <td>
                            <input asp-for="QuoteNoPrefix" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            <input asp-for="Address" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>
                            <input asp-for="Country" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>
                            <input asp-for="Phone" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <input asp-for="Email" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>
                            <input asp-for="Fax" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <input asp-for="Website" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="ShopNo" class="control-label"></label></th>
                        <td>
                            <input asp-for="ShopNo" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="StreetName" class="control-label"></label></th>
                        <td>
                            <input asp-for="StreetName" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="PostCode" class="control-label"></label></th>
                        <td>
                            <input asp-for="PostCode" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="Office" class="control-label"></label></th>
                        <td>
                            <input asp-for="Office" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="Mobile" class="control-label"></label></th>
                        <td>
                            <input asp-for="Mobile" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="Password" class="control-label"></label></th>
                        <td>
                            <input asp-for="Password" class="form-control" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="HostName" class="control-label"></label></th>
                        <td>
                            <input asp-for="HostName" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="TermsAndCondition" class="control-label"></label></th>
                        <td>
                            @*<input asp-for="TermsAndCondition" class="form-control" />*@
                            <textarea asp-for="TermsAndCondition" id="TermsAndCondition" class="form-control" rows="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="TermsAndConditionItemSale" class="control-label"></label></th>
                        <td>
                            @*<input asp-for="TermsAndConditionItemSale" class="form-control" />*@
                            <textarea asp-for="TermsAndConditionItemSale" id="TermsAndConditionItemSale" class="form-control" rows="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="CompanyNumber" class="control-label"></label></th>
                        <td>
                            <input asp-for="CompanyNumber" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="VatNumber" class="control-label"></label></th>
                        <td>
                            <input asp-for="VatNumber" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="CardPercentage" class="control-label"></label></th>
                        <td>
                            <input asp-for="CardPercentage" class="form-control" type="number" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="IsVat" class="control-label"></label></th>
                        <td>
                            <input asp-for="IsVat" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="WhitelistIP" class="control-label"></label></th>
                        <td>
                            <input asp-for="WhitelistIP" class="form-control" />
                        </td>
                    </tr>


                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="Update Info" class="btn btn-danger btn-sm" />
                        </td>
                    </tr>
                </table>
            </form>
            <a asp-action="Index">Back to Organization Info</a>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 25px;
    }

    .panel-body {
        padding: 0px 25px 0px 25px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .CustomBlueTable td, #CustomBlueTable th {
        padding: 5px;
    }
</style>

